<section id="homeownership">
    <h2>Homeownership</h2>
    <div class="wrapper">
        <div class="context">
            <p>
                Homeownership Florida Cities<br>
                Tampa lags behind St. Petersburg, Jacksonville, and Ft. Lauderdale in homeownership rates.
            </p>
        </div>
        <div class="graph">
            <details>
                <summary>Data Table</summary>
                {% data-line homeownership %}
            </details>
            <canvas id="homeownership-rate"></canvas>
        </div>
    </div>
</section>