<section id="violent-crime">
    <h2>Violent Crime</h2>
    <p class="quiet">
       The FBI’s Uniform Crime Reporting (UCR) Program, violent crime is composed of four offenses: murder and nonnegligent manslaughter, rape, robbery, and aggravated assault. Violent crimes are defined in the UCR Program as those offenses that involve force or threat of force.<a href="https://ucr.fbi.gov/crime-in-the-u.s/2019/crime-in-the-u.s.-2019/topic-pages/violent-crime">Source</a>
    </p>
    <div class="wrapper">
        <div class="context">
            Violent Crime Rates: Florida Cities<br>
            Tampa has the lowest violent crime rate of any major Florida city.
        </div>
        <div class="graph">
            <details>
                <summary>Data Table</summary>
                {% data-bar violent-crime %}
            </details>
            <canvas id="violent-crime-rate"></canvas>
        <div>
    </div>
</section>