:root {
    --primary: #000000;
    --secondary: #ffffff;
    --headings: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
}

* {
    box-sizing: border-box;
}

html, body {
    marign: 0;
    padding: 0;
}

body {font-family: system-ui, sans-serif;}

.banner {
    background-color: red;
    color: white;
}

.banner p {
    margin: 0;
    padding: 1rem 3rem;
    text-align: center;
}

.site {
    padding: 1rem .5rem;
    margin: 0 auto;
}

.hero {
    min-height: 33vh;
}

.hero h1 {
    text-align: center;
    font-size: 3rem;
    font-family: var(--headings);
}

.hero p {
    margin-inline: auto;
    width: clamp(16rem,93vw,75rem);
    max-width: 75ch;
    line-height: 1.5;
    font-size: 1.25rem;
}

.quiet {
    font-weight: 300;
    font-style: italic;
    font-size: 1rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
    font-family: var(--headings);
}

#intro p {
    margin-inline: auto;
    width: clamp(16rem,93vw,75rem);
    max-width: 75ch;
    line-height: 1.5;
    font-size: 1.5rem;
}

#intro ul {
    list-style: none;
    margin-inline: auto;
    width: clamp(16rem,93vw,75rem);
    max-width: 75ch;
    line-height: 1.5;
    text-align: center;
    font-size: 1.2rem;
}

blockquote {
    margin: 0;
    padding: .5rem 0;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    text-align: center;
}
blockquote p {
    font-size: 2rem;
}
section {
    margin: 2rem 0;
}


.wrapper {
    display: flex;
    min-height: 50vh;
    width: 100%;
    padding: 1rem 0;
}

.wrapper > * { 
    flex: 0 1 auto;
 }

 .reverse {
    flex-direction: row-reverse;
 }

 .context {
    width: 450px;
    font-size: 1.4rem;
    align-self: center;
    display: flex;
    flex-direction: column;
 }

 .graph {
    width: 100%;
 }

@media screen and (max-width: 768px) {
    .context {
        width: 100%;
    }
    .wrapper {
        flex-direction: column;
    }
}


  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: .5em; 

    text-align: center; 
  }

  summary {
    width: 15%;
    background: var(--primary);
    color: var(--secondary);
    padding: 5px;
    border: 2px solid transparent;
    outline: none;
    &:focus {
      border-color: black;
    }
  }

  summary:hover {
    cursor: pointer;
  }

  
